section.slides.layout-regular.template-default
  article
    h1 基于NodeJS和MongoDB的社交游戏分析统计系统
    p Coddy<br>2011-06-25
     
  article
    h3 社交游戏的数据重要性
    ul
      li 用户量        
      li 活跃度
      li 留存率
      li 忠诚玩家
      li 消费情况
      li 道具收益
      li ……
      
  article
    h3 独立的统计平台
    ul
      li 应用公共性
      li 应用独立性
      li 一致管理性
      
  article
    h3 现有状况
    p 需要处理的数据量非常大
      ul
        li 请求多
        li 速度慢
        li 扩展差
    p 各个平台的应用存在差异
      ul
        li 应用不同
        li 属性不定     
           
  article
    h3 NodeJS简介
    ul
      li 非I/O阻塞 Non I/O Blocking
      li 事件驱动 Evented Loop
      li 回调式处理 Async Callback
       
  article
    h3 MongoDB简介
    ul
      li NoSQL数据库 NoSQL Database
      li 文档型存储 Document Oriented
      li 分片式扩容 Auto Sharding
      
  article
    h3 系统架构
    p 
      img(src='images/sys-structure.png').centered
      
  article 
    h3 技术特点
    ul
      li 纯JavaScript开发
      li 前沿Web编程技术
      li 高度可扩展性
    
  article
    h2.centered Thank You!
