section.slides.layout-regular.template-default
  article
    h1 <b>NodeJS:</b><br>JavaScript On The Other Side
    p
      a(href='http://twitter.com/imcoddy') @imcoddy
      <br>2011-07-10
    
  article
    q JavaScript runs on the server side?<br>You gotta be kidding me!
    .author Many JS Programmers
    
  article
    h3 Evolution of JavaScript
    ul.build
      li JavaScript was at first designed to run <b>everywhere</b>
        ul
          li LiveScript for the browser clients
          li LiveWire for the backend logic
      li Became a must during the Browser War
      li And now, the Server Side JavaScript (SSJS) arises...
      
  article.smaller
    //h3 Introducing the Rising Star    
    q To provide a <b><i>purely evented</i></b>, <b><i>non-blocking</i></b> infrastructure to script <b><i>highly concurrent</i></b> programs.
    .author The Node.JS Project
    p 
      img(src='images/node-logo.png').centered

  article
    h3 What is NodeJS?
    p  Node.JS is not a JS framework, but a JS interpreter
    ul
      li Event-driven server-side JavaScript
      li Built on Google V8 engine
      li Single thread, one call stack 
      
  article
    h3 Hello World, in Node's Way.
    section
      pre
        |var http = require('http');
        |  http.createServer(function (req, res) {
        |    res.writeHead(200, {'Content-Type': 'text/plain'});
        |    res.end('Hello World');
        |  }).listen(8124, "127.0.0.1");
        |console.log('Server running at http://127.0.0.1:8124/')
    p 6 LoC to create a http server. 
           
  article
    h3 Why NodeJS?
    ul.build
      li It unifies the language between browsers and servers
        ul
          //li E.G. Check user-upload file type (image)
          //li Support long polling
          //li No Back End, No Front End, Only JavaScript!
          li Possibility for code reuse
          li No need to encode/decode JSON object
      li It is suited for real-time web applications
        ul
          li Persistent connection from browser to server
          li No need to maintain separate threads
      li It makes better performance
        ul
          li Non I/O blocking
          li Make better use of CPU
      li It is soooooooo COOL!
       
  article
    h3 I/O Latency
    p L1: 3 cycles
    p L2: 14 cycles
    p RAM: 250 cycles
    p.blue Disk: 41,000,000 cycles
    p.red Network: 240,000,000 cycles
    .source source: http://s3.amazonaws.com/four.livejournal/20091117/jsconf.pdf
        
  article 
    h3 Blocking vs Non-blocking
    section
      p The blocking way:
      pre
        |var result = db.query("select..");
        |print('I can not print until the result is returned.')
        |print('And the I/O is damn SLOW.');
        |do_something_with_result(result);
    section.build
      p The non-blocking way:
      pre
        |db.query("select..", function (result) {
        |    print('Handle the result now.');
        |    do_something_with_result(result);
        |});
        |print('No more waiting.');
        |print('Do the following right away');
        |do_something_else();
        
  article
    q Everything runs in parallel, <b>EXCEPT YOUR CODE</b>.
    .author Philosophy of NodeJS
    
  article
    h3 Struture of NodeJS
    p 
      img(src='images/node-structure.png').centered
    .source source: http://s3.amazonaws.com/four.livejournal/20091117/jsconf.pdf
        
  article
    h3 Why JavaScript Suits NodeJS?
    ul
      li Callback
      li Closure
      li Evented
    p.build NodeJS brings the power of JavaScript to the server side.
    
  article
    h2 Node express demo
  
  article
    h3 The Node Ecosystem
    p Over 4700 watchers on Github
    p More than 1600 modules posted
    p 60+ contributors
    p 3 books in progress
    p 1 command to install: npm install module-you-want
    p 0.5 unstable version just released 
    p Gets better everyday

  article
    h3 NodeJS Limitations
    p Hard core CPU calculating
    p Large content transfer
    p 1G memory limit due to V8 engine
        
  article 
    h3 Something Bothering Me
    ul.build
      li IDE support
        ul          
          li Vim is powerful, but no for everyone
          li 
            a(href='http://www.cloud9ide.com') Cloud9IDE 
            |might be a nice choice
      li Unit testing framework
      li Debugging & Event Handling
        ul
          li No long trace yet, hard to locate where sth went wrong
          li UncaughtException? The whole process would go down...
      li Too many callbacks
      
  article
    h3 NodeJS makes thinking differently
    pre
      |var data = {}
      |db.getPosts(10, function(err,posts){
      |  data.posts = posts;
      |});
      |db.getComments(10, function(err, comments){
      |  data.comments = comments;
      |});      
      |db.getTags(function(err, tags){
      |  data.tags = tags;
      |})
      | 
      |// view.render(data)
      |// How do you know when everything is ready?
    .source http://www.slideshare.net/QLeelulu/nodejs-8283613

  article
    h3 NodeJS makes thinking differently (cont.)
    pre
      |function Combo(callback){
      |  this.callback = callback;
      |  this.items = 0;
      |}      
      |Combo.prototype = {
      |  add: function(){
      |    this.items++;
      |  },
      |  finishOne: function(){
      |    this.items--;
      |    this.check();
      |  },
      |  check: function(){
      |    if(this.items === 0){
      |      this.callback.apply(this);
      |    }
      |  }
      |};
   
  article
    h3 NodeJS makes thinking differently (cont.)
    pre
      |var data = {};
      |var combo = new Combo(function(){
      |  view.render(data);
      |});
      |combo.add();
      |db.getPosts(10, function(err,posts){
      |  data.posts = posts;
      |  combo.finishOne();});
      |combo.add();
      |db.getComments(10, function(err, comments){
      |  data.comments = comments;
      |  combo.finishOne();});
      |combo.add()
      |db.getTags(function(err, tags){
      |  data.tags = tags;
      |  combo.finishOne();})  
      
  article
    h3 The Long And Deep Callback Chain
    pre
      |self.handleQuery = function(client, message) {
      |  var query = message.query;
      |    Blip.query(query).all(function(results) {
      |      client.send(
      |        {buffer:
      |          results.map(
      |            function(msg) {
      |              return {message: {
      |                  sender: msg.sender,
      |                  content: msg.content,
      |                  }
      |               }
      |            }
      |         )
      |      });
      |  });
      |};

  article
    h3 Well, You Can Make It Shorter With CoffeeScript
    pre
      |@handleQuery = (client, message) ->
      |  Blip.query(message.query).all (results) ->
      |    client.send buffer:
      |      results.map (msg) ->
      |        message:
      |          sender: msg.sender
      |          content: msg.content

  article
    h3 Async Makes Testing Difficult
    pre
      | collection = 'test'
      | query = {}
      | app.count collection,query,(count)->
      |   doc = 
      |     name:1
      |   app.save collection,doc,()-> 
      |     console.log 'save in '+collection
      |     app.count collection,query,(result)->
      |        assert.eql count+1,result
      | collection = 'product'
      |// save action was supposed to execute in the 'test' collection
      |// but it will actually be saved in 'product' collection!
  //  p.smaller Even the save action was supposed to execute in the 'test' collection, the document will be saved in 'product' collection!
  article 
    h3 The Future Node
    p Windows porting with MS offical support
    p New networking layer
    p Long traceback
    p ...
    .build
      p Linux + Node.js + MongoDB:
      p The new LAMP is on the way
            
    
  article
    h3 Resources
    p 
      a(href='http://nodejs.org/') http://nodejs.org/
    p 
      a(href='http://github.com/ry/node/wiki') http://github.com/ry/node/wiki
    p 
      a(href='http://howtonode.org/') http://howtonode.org/
    p 
      a(href='http://dailyjs.com/') http://dailyjs.com/
    p 
      a(href='http://cnodejs.org/') http://cnodejs.org/
        
    
